#banner
{
background-color:;
position:relative;
width:990px;
height:700px;
}
#sitelogo
{
background-color:;
background-image:url("images/sitelogo.png");
background-size:400px 400px;
background-repeat:no-repeat;
position:center center;
position:absolute;
width:400px;
height:400px;
top:60px;
left:60px;
}
#ytadd
{
background-color:;
position:absolute;
width:250px;
height:250px;
top:80px;
left:700px;
}
.sms
{
position:absolute;
background:linear-gradient(150deg,red,blue);
border-radius:30px 5px 30px 5px;
text-align:center;
line-height:80px;
font-size:30px;
width:235px;
height:80px;
left:710px;
top:350px;
}
.sms a,.sms a:visited
{
color:white;
text-decoration:none;
}
#mainmenu
{
background-color:;
position:absolute;
width:975px;
left:12px;
top:600px;
margin-left:auto;
margin-right:auto;
}
#menu,#submenu
{
margin:0px;
padding:0px;
}
#menu li,#submenu li
{
list-style-type:none;
display:block;
background:linear-gradient(150deg,red,blue);
border-radius:30px 5px 30px 5px;
margin:3px;
color:white;
text-align:center;
font-size:30px;
width:235px;
height:80px;
line-height:80px;
float:left;
}
#menu li
{
position:relative;
}
#submenu
{
display:none;
position:absolute;
left:-3px;
top:82px;
z-index:3;
}
#menu li:hover #submenu
{
display:block;
}
#menu li a,#menu li a:visited,#submenu li a,#submenu li a:visited
{
color:white;
text-decoration:none;
}
#news
{
background:linear-gradient(150deg,#F10003,#DDFF00,#0000E9,#FF00A6,#0FAA00);
position:relative;
border-radius:150px;
width:990px;
height:110px;
top:50px;
font-size:50px;
font-family:bold italic;
line-height:120px;
text-align:center;
color:#000000;
}
#contactus
{
position:relative;
background-color:yellow;
width:990px;
height:1800px;
top:250px;
}
#contactus h2
{
color:gold;
font-size:60px;
font-family:bold italic;
text-align:center;
}
#contactus a,a:visited,h1
{
color:white;
font-size:50px;
font-family:bold italic;
text-align:center;
line-height:100px;
text-indent:50px;
text-decoration:none;
}
.ytimg
{
position:absolute;
background-image:url("images/youtube.png");
background-repeat:no-repeat;
background-position:center;
background-size:220px 220px;
border-radius:150px;
width:220px;
height:220px;
left:130px;
top:160px;
z-index:4;
}
.ytlink
{
position:absolute;
background-color:#B80400;
border-radius:150px;
width:620px;
height:150px;
left:250px;
top:193px;
}
.fbpimg
{
position:absolute;
background-image:url("images/facebook1.png");
background-repeat:no-repeat;
background-position:center;
background-size:220px 220px;
border-radius:150px;
width:220px;
height:220px;
left:130px;
top:430px;
z-index:4;
}
.fbplink
{
position:absolute;
background-color:#1600D9;
border-radius:150px;
width:620px;
height:150px;
left:250px;
top:463px;
}
.fbgimg
{
position:absolute;
background-image:url("images/facebook1.png");
background-repeat:no-repeat;
background-position:center;
background-size:220px 220px;
border-radius:150px;
width:220px;
height:220px;
left:130px;
top:700px;
z-index:4;
}
.fbglink
{
position:absolute;
background-color:#1600D9;
border-radius:150px;
width:620px;
height:150px;
left:250px;
top:733px;
}
.twtrimg
{
position:absolute;
background-color:#006E4B;
background-image:url("images/twitter.png");
background-repeat:no-repeat;
background-position:center;
background-size:170px 170px;
border-radius:150px;
width:220px;
height:220px;
left:130px;
top:970px;
z-index:4;
}
.twtrlink
{
position:absolute;
background-color:#006E3B;
border-radius:150px;
width:620px;
height:150px;
left:250px;
top:1003px;
}
.waimg
{
position:absolute;
background-color:#006E4B;
background-image:url("images/whatsapp.png");
background-repeat:no-repeat;
background-position:center;
background-size:180px 180px;
border-radius:150px;
width:220px;
height:220px;
left:130px;
top:1240px;
z-index:4;
}
.walink
{
position:absolute;
background-color:#006E3B;
border-radius:150px;
width:620px;
height:150px;
left:250px;
top:1273px;
}
.gmimg
{
position:absolute;
background-color:#860600;
background-image:url("images/gmail.png");
background-repeat:no-repeat;
background-position:center;
background-size:150px 150px;
border-radius:150px;
width:220px;
height:220px;
left:130px;
top:1510px;
z-index:4;
}
.gmlink
{
position:absolute;
background-color:#B80400;
border-radius:150px;
width:620px;
height:150px;
left:250px;
top:1543px;
}
#about
{
position:relative;
background-color:green;
width:990px;
height:1500px;
top:350px;
}
#about p
{
text-align:justify;
font-size:45px;
}
#about h1
{
text-align:center;
font-size:60px;
color:gold;
}
#about a,#about a:visited,#aboutus a,#aboutus a:visited
{
color:blue;
text-decoration:none;
}
#privacypolicy
{
position:relative;
background-color:pink;
width:990px;
height:12500px;
top:300px;
}
#privacypolicy p,#privacypolicy ul li,#tandc p,#tandc ol li,#aboutus p
{
text-align:justify;
font-size:45px;
}
#privacypolicy h2,#tandc h2,#aboutus h2
{
font-size:60px;
}
#privacypolicy h3,#tandc h3,#aboutus h3
{
font-size:55px;
}
#tandc
{
position:relative;
background-color:yellow;
width:990px;
height:7000px;
top:200px;
}
#aboutus
{
position:relative;
background-color:green;
width:990px;
height:3000px;
top:200px;
}
